table{
    border-collapse: collapse;
}
th,td,table{
    border: solid red 8px;
}
#t1{background-color: yellow;

    
    
}
tr:hover{background-color: coral;}
#t2{
    background-color: goldenrod;
}
#t3{
    background-color: goldenrod;
}
#t4{
    background-color: goldenrod;
}
td{
    height: 50px;
    vertical-align: bottom;

}
th,td{
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}